{% set vlan_interfaces = device_data|interfaces(prefix="vlan") %}
{% if vlan_interfaces %}
    bridge:
      domain:
        br_default:
          stp:
            priority: 28672
            state:
              up: {}
          vlan:
{% for vlan_intf in vlan_interfaces %}
{% set vni = device_data|vni_mappings(vlan_intf.vlan_number, false) %}
{% if not vni %}
            '{{ vlan_intf.vlan_number }}': {}
{% else %}
            '{{ vlan_intf.vlan_number }}':
              vni:
                '{{ vni }}': {}
{% endif %}
{% endfor %}
{% endif %}
