/*
Temporal Workflow API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package temporal

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// ParametersAPIService ParametersAPI service
type ParametersAPIService service

type ApiGetDeviceIdByNameV1ParameterDeviceIdGetRequest struct {
	ctx        context.Context
	ApiService *ParametersAPIService
	deviceName *string
}

func (r ApiGetDeviceIdByNameV1ParameterDeviceIdGetRequest) DeviceName(deviceName string) ApiGetDeviceIdByNameV1ParameterDeviceIdGetRequest {
	r.deviceName = &deviceName
	return r
}

func (r ApiGetDeviceIdByNameV1ParameterDeviceIdGetRequest) Execute() (*Device, *http.Response, error) {
	return r.ApiService.GetDeviceIdByNameV1ParameterDeviceIdGetExecute(r)
}

/*
GetDeviceIdByNameV1ParameterDeviceIdGet Get Device ID by Name

Convert device hostname to device ID.

Args:

	device_name: The hostname/name of the device.

Returns:

	Device object with id and name.

Raises:

	   HTTPException: If device not found or multiple devices match.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetDeviceIdByNameV1ParameterDeviceIdGetRequest
*/
func (a *ParametersAPIService) GetDeviceIdByNameV1ParameterDeviceIdGet(ctx context.Context) ApiGetDeviceIdByNameV1ParameterDeviceIdGetRequest {
	return ApiGetDeviceIdByNameV1ParameterDeviceIdGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Device
func (a *ParametersAPIService) GetDeviceIdByNameV1ParameterDeviceIdGetExecute(r ApiGetDeviceIdByNameV1ParameterDeviceIdGetRequest) (*Device, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Device
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetDeviceIdByNameV1ParameterDeviceIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/device-id"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceName == nil {
		return localVarReturnValue, nil, reportError("deviceName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "device_name", r.deviceName, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGetRequest struct {
	ctx        context.Context
	ApiService *ParametersAPIService
	deviceId   string
}

func (r ApiGetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGetRequest) Execute() ([]DeviceInterface, *http.Response, error) {
	return r.ApiService.GetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGetExecute(r)
}

/*
GetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGet Get Device Interfaces

Return the interfaces belonging to a device.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceId
	@return ApiGetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGetRequest
*/
func (a *ParametersAPIService) GetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGet(ctx context.Context, deviceId string) ApiGetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGetRequest {
	return ApiGetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGetRequest{
		ApiService: a,
		ctx:        ctx,
		deviceId:   deviceId,
	}
}

// Execute executes the request
//
//	@return []DeviceInterface
func (a *ParametersAPIService) GetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGetExecute(r ApiGetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGetRequest) ([]DeviceInterface, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []DeviceInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetDeviceInterfacesV1ParameterDeviceDeviceIdInterfacesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/device/{device_id}/interfaces"
	localVarPath = strings.Replace(localVarPath, "{"+"device_id"+"}", url.PathEscape(parameterValueToString(r.deviceId, "deviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGetRequest struct {
	ctx        context.Context
	ApiService *ParametersAPIService
	deviceId   string
}

func (r ApiGetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGetRequest) Execute() ([]Secret, *http.Response, error) {
	return r.ApiService.GetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGetExecute(r)
}

/*
GetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGet Get Device Password Users

Get available password users and their secret names for a device.

Args:

	device_id: The UUID of the device.

Returns:

	   List of password users with their provider-normalized secret names.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceId
	@return ApiGetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGetRequest
*/
func (a *ParametersAPIService) GetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGet(ctx context.Context, deviceId string) ApiGetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGetRequest {
	return ApiGetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGetRequest{
		ApiService: a,
		ctx:        ctx,
		deviceId:   deviceId,
	}
}

// Execute executes the request
//
//	@return []Secret
func (a *ParametersAPIService) GetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGetExecute(r ApiGetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGetRequest) ([]Secret, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Secret
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetDevicePasswordUsersV1ParameterDeviceDeviceIdPasswordUsersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/device/{device_id}/password_users"
	localVarPath = strings.Replace(localVarPath, "{"+"device_id"+"}", url.PathEscape(parameterValueToString(r.deviceId, "deviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGetRequest struct {
	ctx        context.Context
	ApiService *ParametersAPIService
	deviceId   string
}

func (r ApiGetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGetRequest) Execute() ([]Secret, *http.Response, error) {
	return r.ApiService.GetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGetExecute(r)
}

/*
GetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGet Get Device Secrets

Return a list of secrets available for a device.

Args:

	device_id: The UUID of the device to fetch secrets from

Returns:

	   List of secrets returned by the configured DCIM provider

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceId
	@return ApiGetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGetRequest
*/
func (a *ParametersAPIService) GetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGet(ctx context.Context, deviceId string) ApiGetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGetRequest {
	return ApiGetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGetRequest{
		ApiService: a,
		ctx:        ctx,
		deviceId:   deviceId,
	}
}

// Execute executes the request
//
//	@return []Secret
func (a *ParametersAPIService) GetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGetExecute(r ApiGetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGetRequest) ([]Secret, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Secret
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetDeviceSecretsV1ParameterDeviceDeviceIdSecretsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/device/{device_id}/secrets"
	localVarPath = strings.Replace(localVarPath, "{"+"device_id"+"}", url.PathEscape(parameterValueToString(r.deviceId, "deviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGetRequest struct {
	ctx        context.Context
	ApiService *ParametersAPIService
	deviceId   string
}

func (r ApiGetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGetRequest) Execute() ([]*string, *http.Response, error) {
	return r.ApiService.GetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGetExecute(r)
}

/*
GetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGet Get Secret Types for Device

Get available secret types from the configured DCIM provider.

Args: device_id: The UUID of the device.

Returns:

	   List of secret types plus versions from config context.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deviceId
	@return ApiGetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGetRequest
*/
func (a *ParametersAPIService) GetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGet(ctx context.Context, deviceId string) ApiGetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGetRequest {
	return ApiGetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGetRequest{
		ApiService: a,
		ctx:        ctx,
		deviceId:   deviceId,
	}
}

// Execute executes the request
//
//	@return []*string
func (a *ParametersAPIService) GetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGetExecute(r ApiGetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGetRequest) ([]*string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []*string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetDeviceUsersWithVersionsV1ParameterDeviceDeviceIdSecretTypesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/device/{device_id}/secret_types"
	localVarPath = strings.Replace(localVarPath, "{"+"device_id"+"}", url.PathEscape(parameterValueToString(r.deviceId, "deviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDevicesV1ParameterDeviceGetRequest struct {
	ctx          context.Context
	ApiService   *ParametersAPIService
	site         *[]*string
	status       *[]string
	role         *[]string
	tenant       *[]string
	deviceTypeId *[]string
	manufacturer *[]string
	platform     *[]string
	managedOnly  *bool
}

func (r ApiGetDevicesV1ParameterDeviceGetRequest) Site(site []*string) ApiGetDevicesV1ParameterDeviceGetRequest {
	r.site = &site
	return r
}

func (r ApiGetDevicesV1ParameterDeviceGetRequest) Status(status []string) ApiGetDevicesV1ParameterDeviceGetRequest {
	r.status = &status
	return r
}

func (r ApiGetDevicesV1ParameterDeviceGetRequest) Role(role []string) ApiGetDevicesV1ParameterDeviceGetRequest {
	r.role = &role
	return r
}

func (r ApiGetDevicesV1ParameterDeviceGetRequest) Tenant(tenant []string) ApiGetDevicesV1ParameterDeviceGetRequest {
	r.tenant = &tenant
	return r
}

func (r ApiGetDevicesV1ParameterDeviceGetRequest) DeviceTypeId(deviceTypeId []string) ApiGetDevicesV1ParameterDeviceGetRequest {
	r.deviceTypeId = &deviceTypeId
	return r
}

func (r ApiGetDevicesV1ParameterDeviceGetRequest) Manufacturer(manufacturer []string) ApiGetDevicesV1ParameterDeviceGetRequest {
	r.manufacturer = &manufacturer
	return r
}

func (r ApiGetDevicesV1ParameterDeviceGetRequest) Platform(platform []string) ApiGetDevicesV1ParameterDeviceGetRequest {
	r.platform = &platform
	return r
}

// Limit to NVIDIA Config Manager-managed devices
func (r ApiGetDevicesV1ParameterDeviceGetRequest) ManagedOnly(managedOnly bool) ApiGetDevicesV1ParameterDeviceGetRequest {
	r.managedOnly = &managedOnly
	return r
}

func (r ApiGetDevicesV1ParameterDeviceGetRequest) Execute() ([]Device, *http.Response, error) {
	return r.ApiService.GetDevicesV1ParameterDeviceGetExecute(r)
}

/*
GetDevicesV1ParameterDeviceGet Get Devices

Return a list of filtered devices.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetDevicesV1ParameterDeviceGetRequest
*/
func (a *ParametersAPIService) GetDevicesV1ParameterDeviceGet(ctx context.Context) ApiGetDevicesV1ParameterDeviceGetRequest {
	return ApiGetDevicesV1ParameterDeviceGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Device
func (a *ParametersAPIService) GetDevicesV1ParameterDeviceGetExecute(r ApiGetDevicesV1ParameterDeviceGetRequest) ([]Device, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Device
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetDevicesV1ParameterDeviceGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/device"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.site != nil {
		t := *r.site
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "site", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "site", t, "form", "multi")
		}
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	if r.role != nil {
		t := *r.role
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "role", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "role", t, "form", "multi")
		}
	}
	if r.tenant != nil {
		t := *r.tenant
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "tenant", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "tenant", t, "form", "multi")
		}
	}
	if r.deviceTypeId != nil {
		t := *r.deviceTypeId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "device_type_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "device_type_id", t, "form", "multi")
		}
	}
	if r.manufacturer != nil {
		t := *r.manufacturer
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "manufacturer", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "manufacturer", t, "form", "multi")
		}
	}
	if r.platform != nil {
		t := *r.platform
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "platform", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "platform", t, "form", "multi")
		}
	}
	if r.managedOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "managed_only", r.managedOnly, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "managed_only", defaultValue, "form", "")
		r.managedOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGetRequest struct {
	ctx        context.Context
	ApiService *ParametersAPIService
	platform   *[]string
}

func (r ApiGetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGetRequest) Platform(platform []string) ApiGetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGetRequest {
	r.platform = &platform
	return r
}

func (r ApiGetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGetRequest) Execute() ([]CommandEntry, *http.Response, error) {
	return r.ApiService.GetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGetExecute(r)
}

/*
GetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGet Get Diagnostics Commands

Return the diagnostics command catalog for the requested platform(s).

Pass one or more “?platform=<slug>“ query params (e.g. “cumulus-linux“).
When no platform is given, commands from all platforms are returned.
Commands that appear on multiple platforms are deduplicated by name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGetRequest
*/
func (a *ParametersAPIService) GetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGet(ctx context.Context) ApiGetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGetRequest {
	return ApiGetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []CommandEntry
func (a *ParametersAPIService) GetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGetExecute(r ApiGetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGetRequest) ([]CommandEntry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []CommandEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetDiagnosticsCommandsV1ParameterDiagnosticsCommandsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/diagnostics/commands"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.platform != nil {
		t := *r.platform
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "platform", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "platform", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLocationsV1ParameterLocationGetRequest struct {
	ctx          context.Context
	ApiService   *ParametersAPIService
	locationType *[]string
}

func (r ApiGetLocationsV1ParameterLocationGetRequest) LocationType(locationType []string) ApiGetLocationsV1ParameterLocationGetRequest {
	r.locationType = &locationType
	return r
}

func (r ApiGetLocationsV1ParameterLocationGetRequest) Execute() ([]Location, *http.Response, error) {
	return r.ApiService.GetLocationsV1ParameterLocationGetExecute(r)
}

/*
GetLocationsV1ParameterLocationGet Get Locations

Return a list of NVIDIA Config Manager-managed sites.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetLocationsV1ParameterLocationGetRequest
*/
func (a *ParametersAPIService) GetLocationsV1ParameterLocationGet(ctx context.Context) ApiGetLocationsV1ParameterLocationGetRequest {
	return ApiGetLocationsV1ParameterLocationGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Location
func (a *ParametersAPIService) GetLocationsV1ParameterLocationGetExecute(r ApiGetLocationsV1ParameterLocationGetRequest) ([]Location, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Location
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetLocationsV1ParameterLocationGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/location"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.locationType != nil {
		t := *r.locationType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "location_type", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "location_type", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetNamespaceTagsV1ParameterNamespaceTagGetRequest struct {
	ctx        context.Context
	ApiService *ParametersAPIService
	location   *string
}

// Limit to namespace tags at this location
func (r ApiGetNamespaceTagsV1ParameterNamespaceTagGetRequest) Location(location string) ApiGetNamespaceTagsV1ParameterNamespaceTagGetRequest {
	r.location = &location
	return r
}

func (r ApiGetNamespaceTagsV1ParameterNamespaceTagGetRequest) Execute() ([]Tag, *http.Response, error) {
	return r.ApiService.GetNamespaceTagsV1ParameterNamespaceTagGetExecute(r)
}

/*
GetNamespaceTagsV1ParameterNamespaceTagGet Get Namespace Tags

Return the configured DCIM provider's namespace tag choices.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetNamespaceTagsV1ParameterNamespaceTagGetRequest
*/
func (a *ParametersAPIService) GetNamespaceTagsV1ParameterNamespaceTagGet(ctx context.Context) ApiGetNamespaceTagsV1ParameterNamespaceTagGetRequest {
	return ApiGetNamespaceTagsV1ParameterNamespaceTagGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Tag
func (a *ParametersAPIService) GetNamespaceTagsV1ParameterNamespaceTagGetExecute(r ApiGetNamespaceTagsV1ParameterNamespaceTagGetRequest) ([]Tag, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Tag
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetNamespaceTagsV1ParameterNamespaceTagGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/namespace-tag"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOverlaysV1ParameterOverlayGetRequest struct {
	ctx           context.Context
	ApiService    *ParametersAPIService
	location      *string
	isolationType *string
}

// Limit to overlays at this location
func (r ApiGetOverlaysV1ParameterOverlayGetRequest) Location(location string) ApiGetOverlaysV1ParameterOverlayGetRequest {
	r.location = &location
	return r
}

// Limit to overlays with this isolation type
func (r ApiGetOverlaysV1ParameterOverlayGetRequest) IsolationType(isolationType string) ApiGetOverlaysV1ParameterOverlayGetRequest {
	r.isolationType = &isolationType
	return r
}

func (r ApiGetOverlaysV1ParameterOverlayGetRequest) Execute() ([]Overlay, *http.Response, error) {
	return r.ApiService.GetOverlaysV1ParameterOverlayGetExecute(r)
}

/*
GetOverlaysV1ParameterOverlayGet Get Overlays

Return overlays, optionally filtered by location and isolation type.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetOverlaysV1ParameterOverlayGetRequest
*/
func (a *ParametersAPIService) GetOverlaysV1ParameterOverlayGet(ctx context.Context) ApiGetOverlaysV1ParameterOverlayGetRequest {
	return ApiGetOverlaysV1ParameterOverlayGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Overlay
func (a *ParametersAPIService) GetOverlaysV1ParameterOverlayGetExecute(r ApiGetOverlaysV1ParameterOverlayGetRequest) ([]Overlay, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Overlay
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetOverlaysV1ParameterOverlayGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/overlay"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	}
	if r.isolationType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isolation_type", r.isolationType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRolesV1ParameterRoleGetRequest struct {
	ctx         context.Context
	ApiService  *ParametersAPIService
	managedOnly *bool
}

// Limit to roles with managed devices
func (r ApiGetRolesV1ParameterRoleGetRequest) ManagedOnly(managedOnly bool) ApiGetRolesV1ParameterRoleGetRequest {
	r.managedOnly = &managedOnly
	return r
}

func (r ApiGetRolesV1ParameterRoleGetRequest) Execute() ([]Role, *http.Response, error) {
	return r.ApiService.GetRolesV1ParameterRoleGetExecute(r)
}

/*
GetRolesV1ParameterRoleGet Get Roles

Return a list of roles. Default: all. With managed_only=true: only those with managed devices.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRolesV1ParameterRoleGetRequest
*/
func (a *ParametersAPIService) GetRolesV1ParameterRoleGet(ctx context.Context) ApiGetRolesV1ParameterRoleGetRequest {
	return ApiGetRolesV1ParameterRoleGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Role
func (a *ParametersAPIService) GetRolesV1ParameterRoleGetExecute(r ApiGetRolesV1ParameterRoleGetRequest) ([]Role, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Role
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetRolesV1ParameterRoleGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/role"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.managedOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "managed_only", r.managedOnly, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "managed_only", defaultValue, "form", "")
		r.managedOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSitesV1ParameterSiteGetRequest struct {
	ctx        context.Context
	ApiService *ParametersAPIService
}

func (r ApiGetSitesV1ParameterSiteGetRequest) Execute() ([]Location, *http.Response, error) {
	return r.ApiService.GetSitesV1ParameterSiteGetExecute(r)
}

/*
GetSitesV1ParameterSiteGet Get Sites

Return a list of NVIDIA Config Manager-managed sites.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSitesV1ParameterSiteGetRequest
*/
func (a *ParametersAPIService) GetSitesV1ParameterSiteGet(ctx context.Context) ApiGetSitesV1ParameterSiteGetRequest {
	return ApiGetSitesV1ParameterSiteGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Location
func (a *ParametersAPIService) GetSitesV1ParameterSiteGetExecute(r ApiGetSitesV1ParameterSiteGetRequest) ([]Location, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Location
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetSitesV1ParameterSiteGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/site"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetStatusesV1ParameterStatusGetRequest struct {
	ctx         context.Context
	ApiService  *ParametersAPIService
	contentType *string
}

// Filter by content type (e.g. dcim.device, circuits.circuit)
func (r ApiGetStatusesV1ParameterStatusGetRequest) ContentType(contentType string) ApiGetStatusesV1ParameterStatusGetRequest {
	r.contentType = &contentType
	return r
}

func (r ApiGetStatusesV1ParameterStatusGetRequest) Execute() ([]Status, *http.Response, error) {
	return r.ApiService.GetStatusesV1ParameterStatusGetExecute(r)
}

/*
GetStatusesV1ParameterStatusGet Get Statuses

Return a list of statuses. Optional content_type filters to that object type.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetStatusesV1ParameterStatusGetRequest
*/
func (a *ParametersAPIService) GetStatusesV1ParameterStatusGet(ctx context.Context) ApiGetStatusesV1ParameterStatusGetRequest {
	return ApiGetStatusesV1ParameterStatusGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Status
func (a *ParametersAPIService) GetStatusesV1ParameterStatusGetExecute(r ApiGetStatusesV1ParameterStatusGetRequest) ([]Status, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetStatusesV1ParameterStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content_type", r.contentType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTenantsV1ParameterTenantGetRequest struct {
	ctx         context.Context
	ApiService  *ParametersAPIService
	managedOnly *bool
}

// Limit to tenants with managed devices
func (r ApiGetTenantsV1ParameterTenantGetRequest) ManagedOnly(managedOnly bool) ApiGetTenantsV1ParameterTenantGetRequest {
	r.managedOnly = &managedOnly
	return r
}

func (r ApiGetTenantsV1ParameterTenantGetRequest) Execute() ([]Tenant, *http.Response, error) {
	return r.ApiService.GetTenantsV1ParameterTenantGetExecute(r)
}

/*
GetTenantsV1ParameterTenantGet Get Tenants

Return a list of tenants. Default: all. With managed_only=true: only those with managed devices.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTenantsV1ParameterTenantGetRequest
*/
func (a *ParametersAPIService) GetTenantsV1ParameterTenantGet(ctx context.Context) ApiGetTenantsV1ParameterTenantGetRequest {
	return ApiGetTenantsV1ParameterTenantGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Tenant
func (a *ParametersAPIService) GetTenantsV1ParameterTenantGetExecute(r ApiGetTenantsV1ParameterTenantGetRequest) ([]Tenant, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Tenant
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParametersAPIService.GetTenantsV1ParameterTenantGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/parameter/tenant"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.managedOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "managed_only", r.managedOnly, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "managed_only", defaultValue, "form", "")
		r.managedOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
