/*
Temporal Workflow API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package temporal

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// WorkflowAPIService WorkflowAPI service
type WorkflowAPIService service

type ApiApproveV1WorkflowWorkflowIdApproveStageNamePostRequest struct {
	ctx        context.Context
	ApiService *WorkflowAPIService
	workflowId string
	stageName  string
}

func (r ApiApproveV1WorkflowWorkflowIdApproveStageNamePostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.ApproveV1WorkflowWorkflowIdApproveStageNamePostExecute(r)
}

/*
ApproveV1WorkflowWorkflowIdApproveStageNamePost Approve

Send the approve signal to a workflow.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workflowId
	@param stageName
	@return ApiApproveV1WorkflowWorkflowIdApproveStageNamePostRequest
*/
func (a *WorkflowAPIService) ApproveV1WorkflowWorkflowIdApproveStageNamePost(ctx context.Context, workflowId string, stageName string) ApiApproveV1WorkflowWorkflowIdApproveStageNamePostRequest {
	return ApiApproveV1WorkflowWorkflowIdApproveStageNamePostRequest{
		ApiService: a,
		ctx:        ctx,
		workflowId: workflowId,
		stageName:  stageName,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) ApproveV1WorkflowWorkflowIdApproveStageNamePostExecute(r ApiApproveV1WorkflowWorkflowIdApproveStageNamePostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.ApproveV1WorkflowWorkflowIdApproveStageNamePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/{workflow_id}/approve/{stage_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_id"+"}", url.PathEscape(parameterValueToString(r.workflowId, "workflowId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"stage_name"+"}", url.PathEscape(parameterValueToString(r.stageName, "stageName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBackupworkflowEndpointV1WorkflowNgcBackupPostRequest struct {
	ctx         context.Context
	ApiService  *WorkflowAPIService
	backupInput *BackupInput
}

func (r ApiBackupworkflowEndpointV1WorkflowNgcBackupPostRequest) BackupInput(backupInput BackupInput) ApiBackupworkflowEndpointV1WorkflowNgcBackupPostRequest {
	r.backupInput = &backupInput
	return r
}

func (r ApiBackupworkflowEndpointV1WorkflowNgcBackupPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.BackupworkflowEndpointV1WorkflowNgcBackupPostExecute(r)
}

/*
BackupworkflowEndpointV1WorkflowNgcBackupPost Execute BackupWorkflow

Backup network device configuration to the Config Store and NVIDIA Config Manager plugin

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiBackupworkflowEndpointV1WorkflowNgcBackupPostRequest
*/
func (a *WorkflowAPIService) BackupworkflowEndpointV1WorkflowNgcBackupPost(ctx context.Context) ApiBackupworkflowEndpointV1WorkflowNgcBackupPostRequest {
	return ApiBackupworkflowEndpointV1WorkflowNgcBackupPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) BackupworkflowEndpointV1WorkflowNgcBackupPostExecute(r ApiBackupworkflowEndpointV1WorkflowNgcBackupPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.BackupworkflowEndpointV1WorkflowNgcBackupPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/backup"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.backupInput == nil {
		return localVarReturnValue, nil, reportError("backupInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.backupInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPostRequest struct {
	ctx             context.Context
	ApiService      *WorkflowAPIService
	configDiffInput *ConfigDiffInput
}

func (r ApiConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPostRequest) ConfigDiffInput(configDiffInput ConfigDiffInput) ApiConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPostRequest {
	r.configDiffInput = &configDiffInput
	return r
}

func (r ApiConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.ConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPostExecute(r)
}

/*
ConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPost Execute ConfigDiffWorkflow

Compare the intended configuration against the live device without applying any changes

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPostRequest
*/
func (a *WorkflowAPIService) ConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPost(ctx context.Context) ApiConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPostRequest {
	return ApiConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) ConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPostExecute(r ApiConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.ConfigdiffworkflowEndpointV1WorkflowNgcConfigDiffPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/config_diff"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.configDiffInput == nil {
		return localVarReturnValue, nil, reportError("configDiffInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.configDiffInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPostRequest struct {
	ctx                        context.Context
	ApiService                 *WorkflowAPIService
	connectedHostWorkflowInput *ConnectedHostWorkflowInput
}

func (r ApiConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPostRequest) ConnectedHostWorkflowInput(connectedHostWorkflowInput ConnectedHostWorkflowInput) ApiConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPostRequest {
	r.connectedHostWorkflowInput = &connectedHostWorkflowInput
	return r
}

func (r ApiConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.ConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPostExecute(r)
}

/*
ConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPost Execute ConnectedHostMetadataWorkflow

Discover and analyze connected hosts via MAC table and LLDP neighbor data

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPostRequest
*/
func (a *WorkflowAPIService) ConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPost(ctx context.Context) ApiConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPostRequest {
	return ApiConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) ConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPostExecute(r ApiConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.ConnectedhostmetadataworkflowEndpointV1WorkflowNgcConnectedHostMetadataPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/connected_host_metadata"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectedHostWorkflowInput == nil {
		return localVarReturnValue, nil, reportError("connectedHostWorkflowInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.connectedHostWorkflowInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeployworkflowEndpointV1WorkflowNgcDeployPostRequest struct {
	ctx         context.Context
	ApiService  *WorkflowAPIService
	deployInput *DeployInput
}

func (r ApiDeployworkflowEndpointV1WorkflowNgcDeployPostRequest) DeployInput(deployInput DeployInput) ApiDeployworkflowEndpointV1WorkflowNgcDeployPostRequest {
	r.deployInput = &deployInput
	return r
}

func (r ApiDeployworkflowEndpointV1WorkflowNgcDeployPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.DeployworkflowEndpointV1WorkflowNgcDeployPostExecute(r)
}

/*
DeployworkflowEndpointV1WorkflowNgcDeployPost Execute DeployWorkflow

Deploy intended configuration to network device with approval workflow

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDeployworkflowEndpointV1WorkflowNgcDeployPostRequest
*/
func (a *WorkflowAPIService) DeployworkflowEndpointV1WorkflowNgcDeployPost(ctx context.Context) ApiDeployworkflowEndpointV1WorkflowNgcDeployPostRequest {
	return ApiDeployworkflowEndpointV1WorkflowNgcDeployPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) DeployworkflowEndpointV1WorkflowNgcDeployPostExecute(r ApiDeployworkflowEndpointV1WorkflowNgcDeployPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.DeployworkflowEndpointV1WorkflowNgcDeployPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/deploy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deployInput == nil {
		return localVarReturnValue, nil, reportError("deployInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deployInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPostRequest struct {
	ctx                        context.Context
	ApiService                 *WorkflowAPIService
	deviceCableValidationInput *DeviceCableValidationInput
}

func (r ApiDevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPostRequest) DeviceCableValidationInput(deviceCableValidationInput DeviceCableValidationInput) ApiDevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPostRequest {
	r.deviceCableValidationInput = &deviceCableValidationInput
	return r
}

func (r ApiDevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.DevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPostExecute(r)
}

/*
DevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPost Execute DeviceCableValidationWorkflow

Validate cable connections for a specific device against intended topology

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPostRequest
*/
func (a *WorkflowAPIService) DevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPost(ctx context.Context) ApiDevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPostRequest {
	return ApiDevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) DevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPostExecute(r ApiDevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.DevicecablevalidationworkflowEndpointV1WorkflowNgcDeviceCableValidationPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/device_cable_validation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceCableValidationInput == nil {
		return localVarReturnValue, nil, reportError("deviceCableValidationInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deviceCableValidationInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPostRequest struct {
	ctx                         context.Context
	ApiService                  *WorkflowAPIService
	devicePasswordRotationInput *DevicePasswordRotationInput
}

func (r ApiDevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPostRequest) DevicePasswordRotationInput(devicePasswordRotationInput DevicePasswordRotationInput) ApiDevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPostRequest {
	r.devicePasswordRotationInput = &devicePasswordRotationInput
	return r
}

func (r ApiDevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.DevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPostExecute(r)
}

/*
DevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPost Execute DevicePasswordRotationWorkflow

Rotate passwords on network devices with validation and approval workflow

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPostRequest
*/
func (a *WorkflowAPIService) DevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPost(ctx context.Context) ApiDevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPostRequest {
	return ApiDevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) DevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPostExecute(r ApiDevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.DevicepasswordrotationworkflowEndpointV1WorkflowNgcDevicePasswordRotationPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/device_password_rotation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.devicePasswordRotationInput == nil {
		return localVarReturnValue, nil, reportError("devicePasswordRotationInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.devicePasswordRotationInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPostRequest struct {
	ctx                      context.Context
	ApiService               *WorkflowAPIService
	diagnosticsWorkflowInput *DiagnosticsWorkflowInput
}

func (r ApiDiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPostRequest) DiagnosticsWorkflowInput(diagnosticsWorkflowInput DiagnosticsWorkflowInput) ApiDiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPostRequest {
	r.diagnosticsWorkflowInput = &diagnosticsWorkflowInput
	return r
}

func (r ApiDiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.DiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPostExecute(r)
}

/*
DiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPost Execute DiagnosticsWorkflow

Run diagnostic commands against network devices and attach results to a ticketing issue

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPostRequest
*/
func (a *WorkflowAPIService) DiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPost(ctx context.Context) ApiDiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPostRequest {
	return ApiDiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) DiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPostExecute(r ApiDiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.DiagnosticsworkflowEndpointV1WorkflowNgcDiagnosticsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/diagnostics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.diagnosticsWorkflowInput == nil {
		return localVarReturnValue, nil, reportError("diagnosticsWorkflowInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.diagnosticsWorkflowInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGetRequest struct {
	ctx        context.Context
	ApiService *WorkflowAPIService
	workflowId string
	deviceName string
}

func (r ApiDownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGetExecute(r)
}

/*
DownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGet Download Tech Support

Download a tech-support bundle stored in Redis by the diagnostics workflow.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workflowId
	@param deviceName
	@return ApiDownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGetRequest
*/
func (a *WorkflowAPIService) DownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGet(ctx context.Context, workflowId string, deviceName string) ApiDownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGetRequest {
	return ApiDownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGetRequest{
		ApiService: a,
		ctx:        ctx,
		workflowId: workflowId,
		deviceName: deviceName,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *WorkflowAPIService) DownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGetExecute(r ApiDownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.DownloadTechSupportV1WorkflowWorkflowIdTechSupportDeviceNameGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/{workflow_id}/tech-support/{device_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_id"+"}", url.PathEscape(parameterValueToString(r.workflowId, "workflowId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"device_name"+"}", url.PathEscape(parameterValueToString(r.deviceName, "deviceName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowMetadataV1WorkflowMetadataGetRequest struct {
	ctx        context.Context
	ApiService *WorkflowAPIService
}

func (r ApiGetWorkflowMetadataV1WorkflowMetadataGetRequest) Execute() (*WorkflowMetadataResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowMetadataV1WorkflowMetadataGetExecute(r)
}

/*
GetWorkflowMetadataV1WorkflowMetadataGet Get Workflow Metadata

Return registered workflow metadata and RBAC roles.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowMetadataV1WorkflowMetadataGetRequest
*/
func (a *WorkflowAPIService) GetWorkflowMetadataV1WorkflowMetadataGet(ctx context.Context) ApiGetWorkflowMetadataV1WorkflowMetadataGetRequest {
	return ApiGetWorkflowMetadataV1WorkflowMetadataGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowMetadataResponse
func (a *WorkflowAPIService) GetWorkflowMetadataV1WorkflowMetadataGetExecute(r ApiGetWorkflowMetadataV1WorkflowMetadataGetRequest) (*WorkflowMetadataResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowMetadataResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.GetWorkflowMetadataV1WorkflowMetadataGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/metadata"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowTypesV1WorkflowTypesGetRequest struct {
	ctx        context.Context
	ApiService *WorkflowAPIService
}

func (r ApiGetWorkflowTypesV1WorkflowTypesGetRequest) Execute() ([]*string, *http.Response, error) {
	return r.ApiService.GetWorkflowTypesV1WorkflowTypesGetExecute(r)
}

/*
GetWorkflowTypesV1WorkflowTypesGet Get Workflow Types

Return registered workflow type names.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowTypesV1WorkflowTypesGetRequest
*/
func (a *WorkflowAPIService) GetWorkflowTypesV1WorkflowTypesGet(ctx context.Context) ApiGetWorkflowTypesV1WorkflowTypesGetRequest {
	return ApiGetWorkflowTypesV1WorkflowTypesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []*string
func (a *WorkflowAPIService) GetWorkflowTypesV1WorkflowTypesGetExecute(r ApiGetWorkflowTypesV1WorkflowTypesGetRequest) ([]*string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []*string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.GetWorkflowTypesV1WorkflowTypesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowV1WorkflowWorkflowIdGetRequest struct {
	ctx        context.Context
	ApiService *WorkflowAPIService
	workflowId string
}

func (r ApiGetWorkflowV1WorkflowWorkflowIdGetRequest) Execute() (*WorkflowDetailResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowV1WorkflowWorkflowIdGetExecute(r)
}

/*
GetWorkflowV1WorkflowWorkflowIdGet Get Workflow

Get workflow execution details.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workflowId
	@return ApiGetWorkflowV1WorkflowWorkflowIdGetRequest
*/
func (a *WorkflowAPIService) GetWorkflowV1WorkflowWorkflowIdGet(ctx context.Context, workflowId string) ApiGetWorkflowV1WorkflowWorkflowIdGetRequest {
	return ApiGetWorkflowV1WorkflowWorkflowIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		workflowId: workflowId,
	}
}

// Execute executes the request
//
//	@return WorkflowDetailResponse
func (a *WorkflowAPIService) GetWorkflowV1WorkflowWorkflowIdGetExecute(r ApiGetWorkflowV1WorkflowWorkflowIdGetRequest) (*WorkflowDetailResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowDetailResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.GetWorkflowV1WorkflowWorkflowIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/{workflow_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"workflow_id"+"}", url.PathEscape(parameterValueToString(r.workflowId, "workflowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkflowsV1WorkflowGetRequest struct {
	ctx             context.Context
	ApiService      *WorkflowAPIService
	user            *string
	workflowType    *string
	workflowId      *string
	deviceId        *string
	deviceName      *string
	deviceRole      *string
	devicePlatform  *string
	site            *string
	status          *string
	pendingApproval *bool
	startTime       *time.Time
	endTime         *time.Time
	hideCompleted   *bool
	limit           *int32
	nextPageToken   *string
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) User(user string) ApiGetWorkflowsV1WorkflowGetRequest {
	r.user = &user
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) WorkflowType(workflowType string) ApiGetWorkflowsV1WorkflowGetRequest {
	r.workflowType = &workflowType
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) WorkflowId(workflowId string) ApiGetWorkflowsV1WorkflowGetRequest {
	r.workflowId = &workflowId
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) DeviceId(deviceId string) ApiGetWorkflowsV1WorkflowGetRequest {
	r.deviceId = &deviceId
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) DeviceName(deviceName string) ApiGetWorkflowsV1WorkflowGetRequest {
	r.deviceName = &deviceName
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) DeviceRole(deviceRole string) ApiGetWorkflowsV1WorkflowGetRequest {
	r.deviceRole = &deviceRole
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) DevicePlatform(devicePlatform string) ApiGetWorkflowsV1WorkflowGetRequest {
	r.devicePlatform = &devicePlatform
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) Site(site string) ApiGetWorkflowsV1WorkflowGetRequest {
	r.site = &site
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) Status(status string) ApiGetWorkflowsV1WorkflowGetRequest {
	r.status = &status
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) PendingApproval(pendingApproval bool) ApiGetWorkflowsV1WorkflowGetRequest {
	r.pendingApproval = &pendingApproval
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) StartTime(startTime time.Time) ApiGetWorkflowsV1WorkflowGetRequest {
	r.startTime = &startTime
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) EndTime(endTime time.Time) ApiGetWorkflowsV1WorkflowGetRequest {
	r.endTime = &endTime
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) HideCompleted(hideCompleted bool) ApiGetWorkflowsV1WorkflowGetRequest {
	r.hideCompleted = &hideCompleted
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) Limit(limit int32) ApiGetWorkflowsV1WorkflowGetRequest {
	r.limit = &limit
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) NextPageToken(nextPageToken string) ApiGetWorkflowsV1WorkflowGetRequest {
	r.nextPageToken = &nextPageToken
	return r
}

func (r ApiGetWorkflowsV1WorkflowGetRequest) Execute() (*WorkflowListResponse, *http.Response, error) {
	return r.ApiService.GetWorkflowsV1WorkflowGetExecute(r)
}

/*
GetWorkflowsV1WorkflowGet Get Workflows

Return a filtered list of workflows.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWorkflowsV1WorkflowGetRequest
*/
func (a *WorkflowAPIService) GetWorkflowsV1WorkflowGet(ctx context.Context) ApiGetWorkflowsV1WorkflowGetRequest {
	return ApiGetWorkflowsV1WorkflowGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowListResponse
func (a *WorkflowAPIService) GetWorkflowsV1WorkflowGetExecute(r ApiGetWorkflowsV1WorkflowGetRequest) (*WorkflowListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.GetWorkflowsV1WorkflowGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.user != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user", r.user, "form", "")
	}
	if r.workflowType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_type", r.workflowType, "form", "")
	}
	if r.workflowId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_id", r.workflowId, "form", "")
	}
	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device_id", r.deviceId, "form", "")
	}
	if r.deviceName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device_name", r.deviceName, "form", "")
	}
	if r.deviceRole != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device_role", r.deviceRole, "form", "")
	}
	if r.devicePlatform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device_platform", r.devicePlatform, "form", "")
	}
	if r.site != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site", r.site, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.pendingApproval != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pending_approval", r.pendingApproval, "form", "")
	}
	if r.startTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime, "form", "")
	}
	if r.endTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime, "form", "")
	}
	if r.hideCompleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hide_completed", r.hideCompleted, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "hide_completed", defaultValue, "form", "")
		r.hideCompleted = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.nextPageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "next_page_token", r.nextPageToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHelloworldEndpointV1WorkflowHelloWorldPostRequest struct {
	ctx             context.Context
	ApiService      *WorkflowAPIService
	helloWorldInput *HelloWorldInput
}

func (r ApiHelloworldEndpointV1WorkflowHelloWorldPostRequest) HelloWorldInput(helloWorldInput HelloWorldInput) ApiHelloworldEndpointV1WorkflowHelloWorldPostRequest {
	r.helloWorldInput = &helloWorldInput
	return r
}

func (r ApiHelloworldEndpointV1WorkflowHelloWorldPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.HelloworldEndpointV1WorkflowHelloWorldPostExecute(r)
}

/*
HelloworldEndpointV1WorkflowHelloWorldPost Execute HelloWorld

Simple hello world workflow for testing and demonstration

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHelloworldEndpointV1WorkflowHelloWorldPostRequest
*/
func (a *WorkflowAPIService) HelloworldEndpointV1WorkflowHelloWorldPost(ctx context.Context) ApiHelloworldEndpointV1WorkflowHelloWorldPostRequest {
	return ApiHelloworldEndpointV1WorkflowHelloWorldPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) HelloworldEndpointV1WorkflowHelloWorldPostExecute(r ApiHelloworldEndpointV1WorkflowHelloWorldPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.HelloworldEndpointV1WorkflowHelloWorldPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/hello_world"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.helloWorldInput == nil {
		return localVarReturnValue, nil, reportError("helloWorldInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.helloWorldInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPostRequest struct {
	ctx             context.Context
	ApiService      *WorkflowAPIService
	helloWorldInput *HelloWorldInput
}

func (r ApiHelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPostRequest) HelloWorldInput(helloWorldInput HelloWorldInput) ApiHelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPostRequest {
	r.helloWorldInput = &helloWorldInput
	return r
}

func (r ApiHelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.HelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPostExecute(r)
}

/*
HelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPost Execute HelloWorldApproval

Hello world workflow with approval step for testing staged workflows

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPostRequest
*/
func (a *WorkflowAPIService) HelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPost(ctx context.Context) ApiHelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPostRequest {
	return ApiHelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) HelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPostExecute(r ApiHelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.HelloworldapprovalEndpointV1WorkflowHelloWorldApprovalPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/hello_world_approval"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.helloWorldInput == nil {
		return localVarReturnValue, nil, reportError("helloWorldInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.helloWorldInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPostRequest struct {
	ctx                 context.Context
	ApiService          *WorkflowAPIService
	iBPKeyCreationInput *IBPKeyCreationInput
}

func (r ApiIbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPostRequest) IBPKeyCreationInput(iBPKeyCreationInput IBPKeyCreationInput) ApiIbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPostRequest {
	r.iBPKeyCreationInput = &iBPKeyCreationInput
	return r
}

func (r ApiIbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.IbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPostExecute(r)
}

/*
IbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPost Execute IBPKeyCreationWorkflow

Create an InfiniBand PKey partition on UFM for multi-tenant isolation

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiIbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPostRequest
*/
func (a *WorkflowAPIService) IbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPost(ctx context.Context) ApiIbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPostRequest {
	return ApiIbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) IbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPostExecute(r ApiIbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.IbpkeycreationworkflowEndpointV1WorkflowNgcIbPkeyCreationPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/ib_pkey_creation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iBPKeyCreationInput == nil {
		return localVarReturnValue, nil, reportError("iBPKeyCreationInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iBPKeyCreationInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPostRequest struct {
	ctx                  context.Context
	ApiService           *WorkflowAPIService
	iBPKeyMemberAddInput *IBPKeyMemberAddInput
}

func (r ApiIbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPostRequest) IBPKeyMemberAddInput(iBPKeyMemberAddInput IBPKeyMemberAddInput) ApiIbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPostRequest {
	r.iBPKeyMemberAddInput = &iBPKeyMemberAddInput
	return r
}

func (r ApiIbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.IbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPostExecute(r)
}

/*
IbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPost Execute IBPKeyMemberAddWorkflow

Add device interfaces to an existing InfiniBand PKey partition

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiIbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPostRequest
*/
func (a *WorkflowAPIService) IbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPost(ctx context.Context) ApiIbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPostRequest {
	return ApiIbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) IbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPostExecute(r ApiIbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.IbpkeymemberaddworkflowEndpointV1WorkflowNgcIbPkeyMemberAddPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/ib_pkey_member_add"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iBPKeyMemberAddInput == nil {
		return localVarReturnValue, nil, reportError("iBPKeyMemberAddInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iBPKeyMemberAddInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePostRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowAPIService
	iBPKeyMemberDeleteInput *IBPKeyMemberDeleteInput
}

func (r ApiIbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePostRequest) IBPKeyMemberDeleteInput(iBPKeyMemberDeleteInput IBPKeyMemberDeleteInput) ApiIbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePostRequest {
	r.iBPKeyMemberDeleteInput = &iBPKeyMemberDeleteInput
	return r
}

func (r ApiIbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.IbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePostExecute(r)
}

/*
IbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePost Execute IBPKeyMemberDeleteWorkflow

Remove device interfaces from an existing InfiniBand PKey partition

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiIbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePostRequest
*/
func (a *WorkflowAPIService) IbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePost(ctx context.Context) ApiIbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePostRequest {
	return ApiIbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) IbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePostExecute(r ApiIbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.IbpkeymemberdeleteworkflowEndpointV1WorkflowNgcIbPkeyMemberDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/ib_pkey_member_delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iBPKeyMemberDeleteInput == nil {
		return localVarReturnValue, nil, reportError("iBPKeyMemberDeleteInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iBPKeyMemberDeleteInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePostRequest struct {
	ctx                     context.Context
	ApiService              *WorkflowAPIService
	iBPKeyMemberUpdateInput *IBPKeyMemberUpdateInput
}

func (r ApiIbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePostRequest) IBPKeyMemberUpdateInput(iBPKeyMemberUpdateInput IBPKeyMemberUpdateInput) ApiIbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePostRequest {
	r.iBPKeyMemberUpdateInput = &iBPKeyMemberUpdateInput
	return r
}

func (r ApiIbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.IbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePostExecute(r)
}

/*
IbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePost Execute IBPKeyMemberUpdateWorkflow

Reconcile InfiniBand PKey membership to a desired interface list

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiIbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePostRequest
*/
func (a *WorkflowAPIService) IbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePost(ctx context.Context) ApiIbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePostRequest {
	return ApiIbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) IbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePostExecute(r ApiIbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.IbpkeymemberupdateworkflowEndpointV1WorkflowNgcIbPkeyMemberUpdatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/ib_pkey_member_update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iBPKeyMemberUpdateInput == nil {
		return localVarReturnValue, nil, reportError("iBPKeyMemberUpdateInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iBPKeyMemberUpdateInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPostRequest struct {
	ctx                      context.Context
	ApiService               *WorkflowAPIService
	iBPortGuidDiscoveryInput *IBPortGuidDiscoveryInput
}

func (r ApiIbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPostRequest) IBPortGuidDiscoveryInput(iBPortGuidDiscoveryInput IBPortGuidDiscoveryInput) ApiIbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPostRequest {
	r.iBPortGuidDiscoveryInput = &iBPortGuidDiscoveryInput
	return r
}

func (r ApiIbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.IbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPostExecute(r)
}

/*
IbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPost Execute IBPortGuidDiscoveryWorkflow

Discover InfiniBand port GUIDs from UFM and sync them onto the matching DCIM interfaces.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiIbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPostRequest
*/
func (a *WorkflowAPIService) IbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPost(ctx context.Context) ApiIbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPostRequest {
	return ApiIbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) IbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPostExecute(r ApiIbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.IbportguiddiscoveryworkflowEndpointV1WorkflowNgcIbPortGuidDiscoveryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/ib_port_guid_discovery"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.iBPortGuidDiscoveryInput == nil {
		return localVarReturnValue, nil, reportError("iBPortGuidDiscoveryInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.iBPortGuidDiscoveryInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPostRequest struct {
	ctx                            context.Context
	ApiService                     *WorkflowAPIService
	infinibandCableValidationInput *InfinibandCableValidationInput
}

func (r ApiInfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPostRequest) InfinibandCableValidationInput(infinibandCableValidationInput InfinibandCableValidationInput) ApiInfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPostRequest {
	r.infinibandCableValidationInput = &infinibandCableValidationInput
	return r
}

func (r ApiInfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
	return r.ApiService.InfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPostExecute(r)
}

/*
InfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPost Execute InfinibandCableValidationWorkflow

Validate Infiniband cable connections against intended topology using UFM data

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiInfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPostRequest
*/
func (a *WorkflowAPIService) InfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPost(ctx context.Context) ApiInfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPostRequest {
	return ApiInfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WorkflowResponse
func (a *WorkflowAPIService) InfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPostExecute(r ApiInfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPostRequest) (*WorkflowResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.InfinibandcablevalidationworkflowEndpointV1WorkflowNgcInfinibandCableValidationPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workflow/ngc/infiniband_cable_validation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.infinibandCableValidationInput == nil {
		return localVarReturnValue, nil, reportError("infinibandCableValidationInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.infinibandCableValidationInput
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInfinibandgetunhealthyportsworkflowEndpointV1WorkflowNgcInfinibandGetUnhealthyPortsPostRequest struct {
	ctx                              context.Context
	ApiService                       *WorkflowAPIService
	infinibandGetUnhealthyPortsInput *InfinibandGetUnhealthyPortsInput
}

func (r ApiInfinibandgetunhealthyportsworkflowEndpointV1WorkflowNgcInfinibandGetUnhealthyPortsPostRequest) InfinibandGetUnhealthyPortsInput(infinibandGetUnhealthyPortsInput InfinibandGetUnhealthyPortsInput) ApiInfinibandgetunhealthyportsworkflowEndpointV1WorkflowNgcInfinibandGetUnhealthyPortsPostRequest {
	r.infinibandGetUnhealthyPortsInput = &infinibandGetUnhealthyPortsInput
	return r
}

func (r ApiInfinibandgetunhealthyportsworkflowEndpointV1WorkflowNgcInfinibandGetUnhealthyPortsPostRequest) Execute() (*WorkflowResponse, *http.Response, error) {
[...]
